<div id="pcgf-ajaxregistrationcheck-username" class="inline"></div>
<div id="pcgf-ajaxregistrationcheck-email" class="inline"></div>
<div id="pcgf-ajaxregistrationcheck-password" class="inline"></div>
<div id="pcgf-ajaxregistrationcheck-confirm-password" class="inline"></div>
<script type="text/javascript">
    // The config is injected by the server as a json_encode()'d object (hex escaped, XSS safe)
    var pcgfAJAXRegistrationCheck = {PCGF_AJAXREGISTRATIONCHECK_CONFIG};
</script>
<!-- INCLUDEJS @pcgf_ajaxregistrationcheck/javascript/ajaxregistrationcheck.js -->